/* Octopus Energy brand colours used in the design */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    @apply text-ice;
  }

  body {
    @apply bg-siphon;
  }
}

.spinner-border {
  vertical-align: -0.125em;
  border: 0.25em solid;
  border-right-color: transparent;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}
